body {
    font-family: sans-serif;
    background-color: red;
    margin-top: 75px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}
.container {
    max-width: 380px;
    margin: 0 auto;
    text-align: center;
    background-color: green;
    font-family: comic sans;
}
